body {
	background-color: white;
}

#wrapper {
	width: 300px;
	padding: 25px;
	margin: 0 auto;
	border: 1px solid red;
}

label {
	margin-left: 5%;
}

input {
	margin-left: 5%;
	width: 85%;
}

button {
	margin-top: 25px;
	margin-left: 5%;
}